@font-face {
  font-family: 'pixelbold';
  src: url('font/ufonts.com_01problematixbold.ttf');
}

  .footer {
    position: absolute;
    top: 885px;
    left: 430px;
    font-size: 10px;
    padding-bottom: 9px;
    color: white;
  }

  #container {
    width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  body {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'pixelbold';
  }

  h1 {
    font-size: 25px;
  }

  #left {
    position: absolute;
    left: 0px;
    width: 100px;
    height: 700px;
    padding: 5px;
  }

  .tool {
    background-color: white;
    color: rgb(80, 48, 35);
    font-family: 'pixelbold';
    transition: 0.5s ease;
    border: whitesmoke;
    font-size: 16px;
    border-radius: 10px;
    width: 89px;
    height: 100px;
    left: 5px;
    margin: auto;
    margin-top: 15px;
  }

  .tool:hover {
    border-radius: 10px;
    border: 3px solid white;
    background-color: black;
    color: aqua;
  }

  #erase {
    background-image: "images/erase.png";
  }

  .fill {
    background-color: grey;
    color: white;
    border: 3px solid white;
    box-sizing: border-box;
  }

  .guide {
    top: 300px;
    left: 110px;
    width: 400px;
    height: 350px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    border: 5px solid grey;
    position: absolute;
  }

  .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
  }

  .intro {
    color: green;
    position: absolute;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 10px;
  }

  #canvas {
    position: absolute;
    border: 1px solid black;
    left: 120px;
    width: 700px;
    height: 700px;
  }

  .grid {
    transition: 0.2s ease;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.424);
  }

  .border {
    border: 1px solid rgba(0, 0, 0, 0.377);
  }

  .grid:hover {
    border: 3px solid aqua;
    box-sizing: border-box;
  }

  #right {
    position: absolute;
    left: 830px;
    width: 170px;
    height: 750px;
    background-color: rgba(255, 255, 255, 0.26);
  }

  #colors {
    padding: 5px;
  }

  .color {
    transition: 0.2s ease;
    border-radius: 10px;
    width: 43px;
    height: 43px;
    float: left;
    margin: 5px;
    box-sizing: border-box;
  }

  .color:hover {
    border: 3px solid orange;
    box-sizing: border-box;
  }

  .orange {
    border: 4px solid orangered;
    box-sizing: border-box;
  }

  .enter {
    font-family: 'pixelbold';
    width: 130px;
    height: 30px;
    background-color: #cacfd2;
  }

  .getColor {
    font-family: 'pixelbold';
    margin-top: 8px;
    width: 130px;
    height: 40px;
    background-color: white;
    transition: 0.5s ease;
  }

  .getColor:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
  }

  #p-enter {
    font-size: 5px;
  }

  #save{
    font-family: 'pixelbold';
    font-size: 10px;
    transition: 0.5s ease;
    border-radius: 5px;
    position: absolute;
    top: 785px;
    left: 410px;
    background-color: black;
    width: 150px;
    height: 50px;
    color: white;
  }

  #savecross {
    font-family: 'pixelbold';
    transition: 0.5s ease;
    border-radius: 5px;
    position: absolute;
    top: 785px;
    left: 270px;
    background-color: black;
    width: 200px;
    height: 60px;
    color: white;
  }

  #save:hover, #savecross:hover {
    border-radius: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
  }

  #downloader {
    font-family: 'pixelbold';
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 5px;
    position: absolute;
    top: 785px;
    left: 480px;
    background-color: black;
    width: 200px;
    height: 60px;
    color: white;
  }

  #downloader:hover {
    border-radius: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
  }

  #saved {
    position: absolute;
    top: 840px;
    right: 280px;
    font-size: 12px;
    font-weight: bold;
  }

  #savedcross {
    position: absolute;
    top: 850px;
    right: 330px;
    font-size: 12px;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  #welcome {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      top: -10px;
      right: 30px;
  }

  #logout {
    font-size: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s ease;
  }

  #logout:hover {
    color: aqua;
  }

  #login {
    position: absolute;
    top: 10px;
    right: 0px;
  }


  #gologin {
    position: absolute;
    top: 845px;
    right: 200px;
    font-size: 10px;
  }

  #username, #password {
    width: 250px;
    height: 50px;
    font-family: 'pixelbold';
    font-size: 20px;
  }

  #u,#p {
    font-family: 'pixelbold';
    font-size: 30px;
  }

  #loginbtn {
    font-family: 'pixelbold';
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 5px;
    background-color: black;
    width: 200px;
    height: 60px;
    color: white;
  }

  #loginbtn:hover {
    border-radius: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
  }

  #guest, #signup {
    color: aqua;
    font-family: 'pixelbold';
    font-size: 25px;
    transition: 0.5s ease;
    border-radius: 5px;
    width: 200px;
    height: 60px;
  }

  #signup:hover,#guest:hover {
    color: orange;
  }

  a {
    color: aqua;
    transition: 0.5s ease;
  }

  a:hover {
    color: orange;
  }

  #error {
    position: absolute;
    left: 410px;
  }

  .signupinfo {
    width: 250px;
    height: 50px;
    font-family: 'pixelbold';
    font-size: 20px;
    margin: 10px;
  }

  #createbtn {
    font-family: 'pixelbold';
    font-size: 13px;
    transition: 0.5s ease;
    border-radius: 5px;
    background-color: black;
    width: 230px;
    height: 60px;
    color: white;
  }

  #createbtn:hover {
    border-radius: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
  }